<routes xmlns="http://camel.apache.org/schema/spring" >

  <route id="myPAproduces">
    <from uri="jason:toTelegram"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="telegram:bots/BOT'S-TOKEN-HERE"/>
  </route>

  <route id="myPAconsumes">
    <from uri="telegram:bots/BOT'S-TOKEN-HERE"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="jason:myPA?performative=achieve"/>
  </route>
  
</routes>
